!!! 5
%html
  %head
    %title {block:TagPage}{Tag} | {/block:TagPage} {block:SearchPage}{lang:Search results for SearchQuery} | {/block:SearchPage}{block:PostSummary}{PostSummary} | {/block:PostSummary}{Title}
    %link{rel: "stylesheet", href: "http://static.tumblr.com/fqe7hjg/rGTo6fhv6/screen.css"}
    %link{rel: "stylesheet", type: "text/css", href:"https://fonts.googleapis.com/css?family=Merriweather:400,300"}
    %body
      %header#header
        %h1
          %a{href: "{BlogURL}"} {Title}
        %p {Description}
          .main
        {block:Posts}
        {block:Text}
          %article.text
            %header
              %h2 
                {block:IndexPage}
                %a{href: "{Permalink}"} {Title}
                {/block:IndexPage}
                {block:PermalinkPage}
                {Title}
                {/block:PermalinkPage}
                {block:Tags}
                %a{href: "{TagURL}"} \#{Tag}
                {/block:Tags}
            .content {Body}
            %footer#footer
              %p Updated at {12Hour}:{Minutes}{AmPm} on {Month} {DayOfMonth}, {Year}
        {/block:Text}
        {block:Photo}
        %article.photo
          %figure{aria-labelledby: "photo{PostID}"}
            %img{src: "{PhotoURL-500}", alt: "{PhotoAlt}"}
            {block:HighRes}
            %a{href: "{PhotoURL-HighRes}"} High Resolution
            {/block:HighRes}
            %figcaption{id: "photo{PostID}"} {Caption}
            {block:Tags}
            %a.button{href: "{TagURL}"} \#{Tag}
            {/block:Tags}
          .content {Body}  
          %footer#footer
            %p Updated at {12Hour}:{Minutes}{AmPm} on {Month} {DayOfMonth}, {Year}
        {/block:Photo}
        {/block:Posts}
          
